@import "../../scss/variables";

.dish {
  font-size: $font_size_l;
  display: flex; 
  justify-content: center;
  gap: 20px; 

  &:nth-of-type(4) {
    margin-left: -75px;
  }
}

.rightHalfDish, .leftHalfDish {
  display: flex;
  cursor: pointer;

  img {
    width: 120px;
  }
  div.info {
    align-self: center;
    max-width: 150px;
  }
}

.leftHalfDish {
  flex-direction: row-reverse;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.price {
  color: $color_green_80;
  font-weight: 700;
}