@import "../../scss/variables";


.footer {
    height: 236px;
    background-color: $color_blue_80;
    border-radius: 56px;
    padding: 52px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one_line {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigate_footer {
    :last-child {
        margin-right: 0px;
    }

    a {
        font-weight: $font_weight_l;
        font-size: $font_size_l;
        text-decoration: none;
        margin-right: 32px;
    }

}

.button_footer {
    display: flex;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        border: 1px solid $color_neutral_80;
        border-radius: 50%;
        height: 44px;
        width: 44px;
    }

    :last-child {
        margin-right: 0px;
    }


}

.two_line {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.info {
    a{
    margin-right: 32px;
    text-decoration: none;

    :hover{
        text-decoration:underline;
    }
    }
    :last-child {
        margin-right: 0px;
    }
}