@import "../../scss/variables";
@import "../../scss/round_button";

.button {
  height: 56px;
  width: 56px;
  background-color: $color_neutral_10;
  margin-right: 9px;

  &:hover {
    cursor: pointer;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;
}

.navigate {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
    padding: 16px 14px;
    border-radius: 56px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .active {
    background-color: $color_green_10;
  }
}

.line {
  height: 22px;
  width: 1px;
  background-color: $color_neutral_60;
  margin-right: 8px;
}

.user_lk {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color_neutral_10;
  margin-right: 9px;
}

.buttons {
  display: flex;
  align-items: center;
  .lk {
    margin-right: 0px;
    background-color: $color_green_80;
    width: 212px;
    border-radius: 56px;
    color: $color_neutral_0;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
