@import "../../../../../scss/variables";


.gender_form {
    height: 196px;
    width: 480px;
    background-color: $color_neutral_0;
    padding: 26px 24px;
    border-radius: 32px;
    margin-bottom: 20px;
    margin-top: 20px;

    p{
        font-size: 16px;
        font-weight: 500;
        color: $color_black_40;
        margin-bottom: 24px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    h3 {
        font-size: 32px;
        font-weight: 600;
    }

    .number_form {
        width: 64px;
        height: 32px;
        background-color: #F6F6F6;
        border-radius: 24px;
        color: $color_green_80;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
}

.form{
    display: flex;
    justify-content: center;
    .btn{
        border: 1px solid $color_green_80;
        background-color: $color_green_30;
        color: $color_green_80;
        height: 40px;
        border-radius: 32px;
        margin-right: 12px;
        padding: 0px 50px;
        cursor: pointer;
    }

    &:last-child{
       
            margin-right: 0px;
      
    }


}