@import "../../scss/variables";

.personal_account{

}
.container_main{
    display: flex;
    justify-content: space-around;
}


// Form
.container_form{
    display: flex;
    
}

.form{
    display: flex;
    flex-direction: column;

}
