@import "../../scss/variables";

.dishPopup {
  display: flex;

  .description {
    margin: 0 20px;

    h2 {
      font-size: 24px;
    }

    ul {
      margin-top: 10px;
    }
    
  }
  
  img {
    width: 100%;
  }
}
