@import "../../scss/variables";

.green {
  color: $color_green_80;
}

.red {
  color: red;
}

.black {
  color: black;
}

.category {
  cursor: pointer;
  padding: 14px 20px;
  background-color: $color_neutral_10;
  border-radius: 50px;
}