:root {
  --main-color: #008231;
  --white: #ffffff;
  --light-green: #f2fff2;
}

/* если понадобится плавный скрол  */
/* html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

.dish-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 15px;
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  min-height: 290px;
  font-size: 0.7rem;
}

img.dish-img {
  width: 200px;
  padding-bottom: 12px;
}

.dish-popup {
  padding: 1em 2em;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.w-50 {
  width: 50%;
}

.text-left {
  text-align: left;
}

ul.one-line > li {
  display: inline;
  padding-right: 20px;
}

div.popup-closer {
  float: right;
  width: 30px;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 3px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}

#categoriesMenu,
#tagsMenu {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.category,
.tag {
  cursor: pointer;
}

.category {
  padding: 14px 20px;
  background-color: #f6f6f6;
  border-radius: 50px;
}

.app {
  padding: 10px;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 36px auto;
}

.logo {
  font-size: 30px;
}

.btn {
  border: 0px;
  font-family: inherit;
  min-width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.box {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box a {
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(100, 100, 100, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.no-pad {
  padding-inline-start: 0px;
  margin-right: 20px;
}

.dish-img-wrapper {
  align-content: center;
}

.content {
  position: relative;
  background: white;
  border-radius: 4px;
  max-width: 60%;
}

.modal:target {
  display: flex;
}

.header-btns {
  display: flex;
  gap: 10px;
}

.header-btn {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 50px;
}

.header-btn-login {
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 50px;
  padding: 18px 82px;
}

.header-list {
  display: flex;
  max-height: 50px;
  gap: 10px;
}

.header-list_item {
  padding: 14px 16px;
  border-radius: 50px;
}

.header-list_item:nth-child(even) {
  padding: 14px 0;
}

.header-list_item:nth-child(odd):hover {
  background-color: var(--light-green);
}

.dish-btn {
  width: 100%;
  padding: 8px 0;
  color: var(--main-color);
  background-color: var(--light-green);
  border: 1px solid var(--main-color);
}
