:root {
  --main-color:#008231;
  --white: #FFFFFF;
}

#CatalogList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#categoriesMenu {
  display: flex;  flex-direction: row;  justify-content: flex-start;
}

.green {
  color: green;
}

.red {
  color: red;
}

.black {
  color: black;
}

#categoriesMenu > div {
  margin-right: 5px;
  margin-left: 17px;
}

#tagsMenu {
  /* margin-left: 17px; */
  padding-top: 10px;
  display: flex;  flex-direction: row;  justify-content: flex-start;
}

#tagsMenu > div {
  margin-right: 5px;
  margin-left: 17px;
}

.app {
  padding: 10px;
  text-align: center;
}

.container{
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 36px auto;
}

.logo{
  font-size: 30px;
}

.btn{
  border: 0px;
  min-width: 50px;
}

.header-btns{
  display: flex;
  gap: 10px;
  
}

.header-btn{
  background-color: #F2F2F2;
  padding: 15px;
  border-radius: 50px;
}

.header-btn-login{
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 50px;
  padding: 18px 82px;
}

.header-list{
  display: flex;
  gap: 10px;
  padding: 15px 0;
}

.header-list_item{
  padding: 0 15px;
}