@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont.ttf") format("ttf");
}
/* serif */
@font-face {
  font-family: "Vollkorn";
  src: url("./fonts/Vollkorn-VariableFont_wght.ttf") format("ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #fdfdfd;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Vollkorn";
  font-weight: 700;
}