@import "../../scss/variables";

.dish {
  font-size: $font_size_l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  min-height: 290px;
  
  .imgWrapper {
    min-height: 200px;
    align-content: center;

    img {
      width: 200px;
      padding-bottom: 12px;
    }
  }

  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;

    .content {
      position: relative;
      background: white;
      border-radius: 4px;
      max-width: 60%;

      .popupCloser {
        float: right; width: 30px; 
        font-size: 1.2rem;
        text-align: right;
        margin-right: 3px;
      }
    }

    :target {
      display: flex;
    }
  }
}

