@import "../../scss/variables";

.dish {
  font-size: $font_size_l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 212px;
  min-height: 350px;
  
  .dishBtn {
    background-color: $color_green_10;
    border: 1px solid $color_green_80;
    color: $color_green_80;
    border-radius: 50px;
    padding: 8px;
  }

  a {
    text-decoration: none; 
  }  

  .modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;

    .content {
      position: relative;
      background: white;
      border-radius: 4px;
      max-width: 60%;

      .popupCloser {
        float: right; width: 30px; 
        font-size: 1.2rem;
        text-align: right;
        margin-right: 3px;
      }
    }

  }
  .modal:target {
    display: flex;
  }
}

