@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/****************************************************************************************
 *  Sizes & Spaces
 ****************************************************************************************/


/****************************************************************************************
 *  Text styles
 ****************************************************************************************/

/****************************************************************************************
 *  Font Size
 ****************************************************************************************/
$font_size_s: 12px;
$font_size_m: 14px;
$font_size_l : 16px;

/****************************************************************************************
 *  Font Weight
 ****************************************************************************************/
$font_weight_s: 300;
$font_weight_m: 400;
$font_weight_l: 500;
$font_weight_xl: 600;
$font_weight_xxl: 700;

/****************************************************************************************
 *  Font Family
 ****************************************************************************************/

$font_family_inter: Inter;
$font_family_vollkorn: Vollkorn;

/****************************************************************************************
 *  Color
 ****************************************************************************************/

// White
$color_neutral_0: #FFFFFF;
$color_neutral_10: #F2F2F2;
$color_neutral_60: #5A5A5A;

$color_neutral_80: #444444;

// Yellow
$color_yellow_60: #F9E8A1;
$color_yellow_80: #F7E599;
$color_yellow_100: #FFD95B;
$color_yellow_120: #EBD156;

// Orange
$color_orange_30: #FFD1BD;
$color_orange_100: #E53700;

// Blue
$color_blue_40: #A1C9E7;
$color_blue_100: #0D79DB;

// Green
$color_green_10: #F2FFF2;
$color_green_30: #CBF0CB;
$color_green_80: #008231;

// Black
$color_black_40: #A2AAA1;
$color_black_50: #8E948A;
$color_black_100: #172A13;