@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/****************************************************************************************
 *  Sizes & Spaces
 ****************************************************************************************/


 /****************************************************************************************
 *  Text styles
 ****************************************************************************************/

  /****************************************************************************************
 *  Font Size
 ****************************************************************************************/
$font_size_s: 12px;
$font_size_m: 14px;
$font_size_l : 16px;

  /****************************************************************************************
 *  Font Weight
 ****************************************************************************************/
 $font_weight_s: 300;
 $font_weight_m: 400;
 $font_weight_l: 500;
 $font_weight_xl: 600;
 $font_weight_xxl: 700;

    /****************************************************************************************
 *  Font Family
 ****************************************************************************************/

 $font_family_inter: Inter ;
 $font_family_vollkorn: Vollkorn;

   /****************************************************************************************
 *  Color
 ****************************************************************************************/

// White
 $color_neutral_0: #FFFFFF;
 $color_neutral_80:#444444;

 // Blue
$color_blue_80: #A1C9E7;
 
